* { box-sizing: border-box; }
body {
  background: url(images/background.jpg);
  background-size: 1920px 980px;
}
div {
  background-color: azure;
  position: absolute
}
.inf {
  padding-left: 1em;
  padding-right: 1em;
  display: none;
}
.sol {
  width: 500px;
  height: auto;
  position: absolute;
  top: 280px;
  left: -40px;
}
.mercurio {
  width: 40px;
  height: auto;
  position: absolute;
  top: 330px;
  left: 480px;
}
.venus {
  width: 60px;
  height: auto;
  position: absolute;
  top: 680px;
  left: 520px;
}
.tierra {
  width: 90px;
  height: auto;
  position: absolute;
  top: 430px;
  left: 620px;
}
.marte {
  width: 80px;
  height: auto;
  position: absolute;
  top: 180px;
  left: 740px;
}
.jupiter {
  width: 300px;
  height: auto;
  position: absolute;
  top: 660px;
  left: 790px;
}
.saturno {
  width: 400px;
  height: auto;
  position: absolute;
  top: 460px;
  left: 1000px;
}
.urano {
  width: 120px;
  height: auto;
  position: absolute;
  top: 170px;
  left: 1300px;
}
.neptuno {
  width: 120px;
  height: auto;
  position: absolute;
  top: 340px;
  left: 1500px;
}
.pluton {
  width: 30px;
  height: auto;
  position: absolute;
  top: 680px;
  left: 1650px;
}